{% extends 'base.html'%}

{% block body %}

<div class="row">
	<div class="col-sm-10 form-control" >
		<button style="float: left;" type="button" class="btn btn-success" data-bs-toggle="modal"
			data-bs-target="#ajoutProp">
			Ajouter une race
		</button>
	</div>
</div>
<div align="center">
	<img src="{{url_for('static', filename='img/img_couverture.jpg')}}" ; width="100px;">
</div>

<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="col-sm-12 ">
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-sm-12">
                    <label for="name" class="form-label">Nom du centre</label>
                    <input class="form-control" type="text" value="{{ centres[0].Nom_centre }}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="name" class="form-label">Raison sociale</label>
                    <input class="form-control" type="text" value="{{ centres[0].Raison_Sociale_centre }}">
                </div>
                <div class="col-sm-6">
                    <label for="name" class="form-label">Types d'activités</label>
                    <input class="form-control" type="text" value="{{ centres[0].Type_activite_centre }}">
                </div>
            </div>
            
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="name" class="form-label">Adresse</label>
                    <input class="form-control" type="text" value="{{ centres[0].Ligne1_Adresse_centre }}">
                </div>
                <div class="col-sm-6">
                    <label for="name" class="form-label">Types d'activités</label>
                    <input class="form-control" type="text" value="{{ centres[0].Ligne2_Adresse_centre }}">
                </div>
                <div class="col-sm-6">
                    <label for="name" class="form-label">Code postal</label>
                    <input class="form-control" type="text" value="{{ centres[0].Code_postal_centre }}">
                </div>
                <div class="col-sm-6">
                    <label for="name" class="form-label">Ville</label>
                    <input class="form-control" type="text" value="{{ centres[0].Ville_centre }}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="name" class="form-label">Telephone</label>
                    <input class="form-control" type="text" value="{{ centres[0].Telephone_centre }}">
                </div>
                <div class="col-sm-6">
                    <label for="name" class="form-label">Types d'activités</label>
                    <input class="form-control" type="text" value="{{ centres[0].Mail_centre }}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label for="name" class="form-label">Numéro SIRET</label>
                    <input class="form-control" type="text" value="{{ centres[0].Numero_SIRET_det_centre }}">
                </div>
                <div class="col-sm-4">
                    <label for="name" class="form-label">Statut juridique</label>
                    <input class="form-control" type="text" value="{{ centres[0].Statut_juridique_centre }}">
                </div>
                <div class="col-sm-4">
                    <label for="name" class="form-label">Code APE</label>
                    <input class="form-control" type="text" value="{{ centres[0].Code_APE_det_centre }}">
                </div>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}