{% extends 'base.html'%}

{% block body %}

<div class="row">
	<div class="col-sm-10">
		<button style="float: left;" type="button" class="btn btn-success" data-bs-toggle="modal"
			data-bs-target="#ajoutEquide">
			Ajouter un équidé
		</button>
	</div>
</div>
<div align="center">
	<img src="{{url_for('static', filename='img/img_couverture.jpg')}}" ; width="100px;">
</div>
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Race</th>
				<th scope="col">Sexe</th>
				<th scope="col">SIRE</th>
				<th scope="col">Puce</th>
			</tr>
		</thead>
		<tbody>

			{% for cheval in equides %}
			<tr>
				<th scope="row">{{cheval.nom_eq}}</th>
				<td>{{cheval.race.nom_race}}</td>
				{% if cheval.sexe_eq == 0 %}
				<td>Femelle</td>
				{% else %}
				<td>Male</td>
				{% endif %}
				<td>{{cheval.puce_eq}}</td>
				<td>{{cheval.sire_eq}}</td>
				<td><a href="{{ url_for('chevaux.fiche_equide', equide_id= cheval.id_eq) }}"
						class="btn btn-primary">Fiche</a>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
{% endblock %}