{% extends 'base.html'%}

{% block body %}

<div class="row">
	<div class="col-sm-10 form-control" >
		<button style="float: left;" type="button" class="btn btn-success" data-bs-toggle="modal"
			data-bs-target="#ajoutProp">
			Ajouter une race
		</button>
	</div>
</div>
<div align="center">
	<img src="{{url_for('static', filename='img/img_couverture.jpg')}}" ; width="100px;">
</div>
<table>
{% for race  in races %}

    <tr>
		<td>
			{{race.nom_race}}
		</td>
		<td>
			{{race.id_type_eq}}
		</td>
	</tr>

{% endfor %}

</table>
{% endblock %}