{% extends 'base.html'%}

{% block body %}

<div class="row">
	<div class="col-sm-10 form-control" >
		<button style="float: left;" type="button" class="btn btn-success" data-bs-toggle="modal"
			data-bs-target="#ajoutProp">
			Ajouter une race
		</button>
	</div>
</div>
<div align="center">
	<img src="{{url_for('static', filename='img/img_couverture.jpg')}}" ; width="100px;">
</div>
{% for race  in races %}
<div class="row">
    <div>{{race.nom_race}}</div>
</div>

{% endfor %}


{% endblock %}